*.cpp~
*.h~
*.o
*.user
*.o
/Qt/build-*
/android/build*

/Qt/QDH/moc_ButtonVar.cpp
/Qt/QDH/moc_ButtonVarForced.cpp
/Qt/QDH/moc_HttpServer.cpp
/Qt/QDH/moc_InfoBarVar.cpp
/Qt/QDH/moc_InfoTempSetpoint.cpp
/Qt/QDH/moc_LogMessage.cpp
/Qt/QDH/moc_mainwindow.cpp
/Qt/QDH/moc_server.cpp
/Qt/QDH/ui_mainwindow.h
/Schede/IO-ESP32-30-Relay/gerber
/Schede/IO-ESP32-30/gerber
/Schede/IO-ESP32-30-Relay/IO-ESP32-30-Relay.kicad_pcb-bak
/Schede/IO-ESP32-30-Relay/IO-ESP32-30-Relay.sch-bak
/Schede/IO-ESP32-30-Relay/fp-info-cache
/Schede/IO-ESP32-30-Relay/IO-ESP32-30-Relay-cache.lib
/Qt/QDH/moc_HttpRequest.cpp
/Scketchs/Terminal_schema/Terminal_schema-cache.lib
/Scketchs/Terminal_schema/Terminal_schema.sch-bak
/Scketchs/Terminal_schema/fp-info-cache
/Schede/IO-ESP32-30-Relay/_autosave-IO-ESP32-30-Relay.kicad_pcb
