*.cpp~
*.h~
build-HA-Desktop_Qt_5_5_0_MinGW_32bit-Debug
/android/build-HA-Desktop_Qt_5_4_2_MSVC2013_64bit-Debug
/android/build-HAserver-Desktop_Qt_5_5_0_MinGW_32bit-Debug
/android/build-HAserver-Desktop_Qt_5_5_0_MinGW_32bit-Release
